.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.login-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  box-shadow: 0 10px 30px -10px #666;
}

.logo-container{
  width: 500px;
  height: 500px;
  margin-right: 100px;
  background: url(http://cdn.algbb.cn/study/banner/4.svg) no-repeat center center;
  background-size: contain;
}

.form-container{
  width: 500px;
  padding: 50px 50px 25px 50px;
  border: #333 1px solid;
  border-radius: 16px;
  background: #fff;
}