.layout {
  background: #fff;

  &-collapsed {
    margin-left: 80px;
  }

  &-unfold {
    margin-left: 200px;
  }
}

.slider {
  overflow-y: auto;
  position: fixed;
  height: 100%;
  padding-bottom: 48px;
  background: #fff;
}

.slider::-webkit-scrollbar {
  display: none;
}
.content{
  background: #fff;
}